from invenio_i18n import lazy_gettext as _
from oarepo import config
import idutils

# glitchtip for reporting incidents
config.initialize_glitchtip()

# i18n
config.initialize_i18n()

config.configure_generic_parameters(
    languages=(
        ("cs", _("Czech")),
    ),
)

config.configure_ui(
    code="chemical-biology",
    name=_("Repository for Chemical Biology Data"),
    description=_("""The mass spectra repository will be a platform that enables similarity-based spectrum searches using various algorithms. The handling of data and metadata will be built on FAIR principles."""),
)

# config.configure_communities(
#     # if you have different community roles than owner, curator and member,
#     # you can specify them here
# )

# config.register_workflow(
#     "default",
#     _("Default deposition workflow"),
#     "common.workflows.default.DefaultWorkflowPermissions",
#     "common.workflows.default.DefaultWorkflowRequests",
# )

config.configure_stats()

config.configure_cron()

# to enable datacite, uncomment the following lines
# from common.config.datacite import (
#               enable_datacite,
#               datacite_default_credentials,
#               datacite_community_prefix
# )
# enable_datacite(env)
# datacite_default_credentials(
#               env.INVENIO_DATACITE_PREFIX,
#               env.INVENIO_DATACITE_USERNAME,
#               env.INVENIO_DATACITE_PASSWORD)
# )
# datacite_community_prefix(
#              "biocev",
#               env.INVENIO_DATACITE_BIOCEV_PREFIX,
#               env.INVENIO_DATACITE_BIOCEV_USERNAME,
#               env.INVENIO_DATACITE_BIOCEV_PASSWORD)

# vocabularies:
# config.configure_vocabulary(
#     code="languages",
#     name=_("Languages"),
#     description=_("Language definitions vocabulary."),
#     props={
#         "alpha3Code": {
#             "description": _("ISO 639-2 standard 3-letter language code"),
#             "icon": None,
#             "label": _("Alpha3 code (English)"),
#             "multiple": False,
#             "placeholder": "eng, cze...",
#             "search": False,
#         },
#     },
#     dump_options=True,
# )

# Feel free to add/override configuration options here. List of options can be
# found in the Invenio source code:
# https://github.com/inveniosoftware/invenio-app-rdm/blob/master/invenio_app_rdm/config.py

import logging

# _os_trace = logging.getLogger("opensearchpy.trace")
# _os_trace.setLevel(logging.DEBUG)
# if not _os_trace.handlers:
#     _h = logging.StreamHandler()
#     _h.setLevel(logging.DEBUG)
#     _h.setFormatter(logging.Formatter("OS_TRACE %(message)s"))
#     _os_trace.addHandler(_h)
#     _os_trace.propagate = False



WEBPACKEXT_NPM_PKG_CLS = "pynpm:PNPMPackage"

RDM_RECORDS_PERSONORG_SCHEMES = {
    "orcid": {"label": _("ORCID"), "validator": idutils.is_orcid, "datacite": "ORCID"},
    "isni": {"label": _("ISNI"), "validator": idutils.is_isni, "datacite": "ISNI"},
    "gnd": {"label": _("GND"), "validator": idutils.is_gnd, "datacite": "GND"},
    "ror": {"label": _("ROR"), "validator": idutils.is_ror, "datacite": "ROR"},
    "email": {"label": _("Email"), "validator": lambda val: "@" in val, "datacite": "Other"},
}

# dataset model registration (collection of mzML files, gets DOI)
from dataset import dataset_model

dataset_model.register()
DASHBOARD_RECORD_CREATE_URL = "/dataset/uploads/new"

# msrun model registration (one mzML file, no DOI)
from msrun import msrun_model

msrun_model.register()

# spectrum model registration (individual spectrum, no DOI)
from spectrum import spectrum_model

spectrum_model.register()
